<div class="container">
  <table class="table">
    <tr>
      <td>Movie ID</td>
      <td>Title</td>
      <td>Image </td>
    </tr>
    <tr *ngFor='let phim of DanhSachPhim'
        [@HieuUngZoom]="state"
        (click)="toggleState()" >
        <td>phim.MovieID</td>
        <td>phim.Title</td>
        <td><img [src]="phim.Image" alt=""></td>
    >


    </tr>
  </table>
</div>